<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<title>マイページ</title>
<!-- CSS 読込 -->
<link rel="stylesheet" th:href="@{/css/user/list.css}">
<link rel=" stylesheet" th:href="@{/css/user/myPage.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<h1 class="h2">マイページ</h1>
		</div>
		<!-- エラーメッセージ	 -->
		<ul>
			<li th:each="err : ${#fields.errors('workUserForm.*')}" class="text-danger">
			<div th:text="${err}"　class="text-danger"></div>
		</ul>
		<div>
			<h2 class="h2">勤怠記録</h2>
			<div>
				<table class="table table-striped table-bordered table-hover">
					<thead class="thead-light">
						<tr>
							<th class="th-width">日付</th>
							<th class="th-width">出勤時間</th>
							<th class="th-width">退勤時間</th>
							<th class="th-width">勤務時間</th>
							<th></th>
						</tr>
					</thead>
					<tbody th:object="${workUserForm}">

						<tr th:each="record, records:${workUserForm.userworkList}">
							<td th:text="${record.startDate}"></td>
							<td th:text="${record.startTiming}"></td>
							<td th:text="${record.finishTiming}"></td>
							<td th:text="${record.duration}"></td>
							<td>
								<button type="button"  class="btn btn-primary"
									th:id="${records.index}" onclick="openModal(this.id)">変更</button>
							</td>
							<!-- The Modal -->
							<div th:id="'myModal' + ${records.index}" class="modal">
								<!-- Modal content -->
								<div class="modal-content">
									<span class="close" th:id="'close' + ${records.index}">&times;</span>
									<div>
										<form id="work-user-form" method="post"
											th:action="@{/mypage/changeRecord}" class="form-signup">
											<div>
												<input type="text" style="display: none;"
													th:field="*{userworkList[__${records.index}__].id}">
												<div class="form-group">
													<label for="startTiming">出勤時間</label> <input type="text"
														th:field="*{userworkList[__${records.index}__].startTime}"
														class="form-control" th:errorclass="is-invalid" />
													<div class="invalid-feedback"
														th:errors="*{userworkList[__${records.index}__].startTime}"></div>
												</div>
												<div class="form-group">
													<label for="finishTiming">退勤時間</label> <input type="text"
														th:field="*{userworkList[__${records.index}__].finishTime}"
														class="form-control" th:errorclass="is-invalid" />
													<div class="invalid-feedback"
														th:errors="*{userworkList[__${records.index}__].finishTime}"></div>
												</div>
												<div class="form-group">
													<label for="message">備考</label> <input type="text"
														class="form-control"
														th:field="*{userworkList[__${records.index}__].message}"
														th:errorclass="is-invalid" />
												</div>
												<div class="text-center">
													<button class="btn btn-primary" type="submit"
														th:name="*{userworkList[__${records.index}__].id}">更新</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<!-- The Modal -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>




		<div class="header border-bottom">
			<h1 class="h2">ユーザー 詳細</h1>
		</div>
		<form id="user-detail-form" method="post" th:action="@{/user/detail}"
			class="form-signup" th:object="${userDetailForm}">
			<input type="hidden" th:field="*{userMail}" />
			<!-- ユーザー 詳細 情報 -->
			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr>
						<th class="w-25">ユーザー ID</th>
						<td th:text="*{userMail}"></td>
					</tr>
					<tr>
						<th>パスワード</th>
						<td><input type="text" class="form-control"
							th:field="*{password}" /></td>
					</tr>
					<tr>
						<th>ユーザー 名</th>
						<td><input type="text" class="form-control"
							th:field="*{userName}" /></td>
					</tr>
					<tr>
						<th>誕生日</th>
						<td th:text="*{#dates.format(birthday,'YYYY/MM/dd')}"></td>
					</tr>
					<tr>
						<th>年齢</th>
						<td th:text="*{age}"></td>
					</tr>
					<tr>
						<th>性別</th>
						<td th:text="*{gender==1?'男性':'女性'}"></td>
					</tr>
					<tr>
						<th>部署名</th>
						<td><span th:if="*{department != null}"
							th:text="*{department.departmentName}"> </span></td>
					</tr>
				</tbody>
			</table>
			<!-- ボタン エリア -->
			<div class="text-center">
				<!-- 更新 ボタン -->
				<button class="btn btn-primary" type="submit" name="update">
					更新</button>
			</div>
			<!-- 給料 情報 -->
			<th: block th:if="*{salaryList != null and salaryList. size() > 0}">
				<div class="header border-bottom">
					<h1 class="h2">給料</h1>
				</div>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th class="w-25">年月</th>
							<th>給料</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item:*{salaryList}">
							<td th:text="${item.yearMonth}"></td>
							<td th:text="${# numbers.formatInteger(item.salary,3,'COMMA')}">
							</td>
						</tr>
					</tbody>
				</table>
				</th:block>
		</form>

		<!-- JS 読込 -->
		<script type="text/javascript" src="js/user/myPage.js"
			th:src="@{/js/user/myPage.js}"></script>
		<script th:inline="javascript">
			const workRecord = /*[[${workUserForm}]]*/"workUserForm";
			console.log(workRecord);
		</script>

	</div>
</body>
</html>